<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="css/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="css/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign Up</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <input class="form-control" id="firstName" placeholder="John" name="firstName" type="text" autofocus>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastName">Last Name</label>
                                        <input class="form-control" id="lastName" placeholder="Wick" name="lastName" type="text">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="username">Username</label>
                                <input class="form-control" id="username" placeholder="boogieman123" name="username" type="text">
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input class="form-control" id="password" placeholder="******" name="password" type="password" value="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password2">Re-Enter Password</label>
                                        <input class="form-control" id="password2" placeholder="******" name="password2" type="password" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select class="form-control" id="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="age">Age</label>
                                <input class="form-control" id="age" placeholder="18" name="age" type="number" min="10" max="100">
                            </div>

                            <div class="form-group">
                                <label for="javaProficiency">Proficiency in Java</label>
                                <select class="form-control" id="javaProficiency">
                                    <option>Beginner</option>
                                    <option>Intermediate</option>
                                    <option>Advanced</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="knownTopics">Topics Known in Java</label>
                                <select multiple class="form-control" id="knownTopics">
                                    <option>Arrays</option>
                                    <option>2D Arrays</option>
                                    <option>Arithmetic</option>
                                    <option>Classes</option>
                                    <option>Constructor</option>
                                    <option>Control</option>
                                    <option>Data Types</option>
                                    <option>Decisions</option>
                                    <option>Expressions</option>
                                    <option>Input-Output</option>
                                    <option>Loops</option>
                                    <option>Methods</option>
                                    <option>Objects</option>
                                    <option>Operators</option>
                                    <option>Primitive Data Types</option>
                                    <option>Strings</option>
                                    <option>Variables</option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="academicExperience">Academic Exp.</label>
                                        <select class="form-control" id="academicExperience">
                                            <option>0 - 2 years</option>
                                            <option>2 - 6 years</option>
                                            <option>6+ years</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="professionalExperience">Professional Exp.</label>
                                        <select class="form-control" id="professionalExperience">
                                            <option>0 - 2 years</option>
                                            <option>2 - 6 years</option>
                                            <option>6+ years</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="educationLevel">Highest Level of Education Completed</label>
                                <select class="form-control" id="educationLevel">
                                    <option>High School Graduate</option>
                                    <option>Associate Degree</option>
                                    <option>Bachelor's Degree</option>
                                    <option>Master's Degree</option>
                                </select>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="universityName">Current University</label>
                                        <input class="form-control" id="universityName" placeholder="Arizona State University" name="universityName" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="universityLocation">University Location</label>
                                        <input class="form-control" id="universityLocation" placeholder="Tempe, AZ" name="universityLocation" type="text">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-lg btn-success btn-block">Signup</button>
                        </fieldset>
                    </form>
                </div>
                <div class="panel-heading">
                    <p class="panel-title">Already have an account? <a href="/">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="js/vendor/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/vendor/bootstrap.min.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/sb-admin-2.js"></script>

</body>

</html>
